{% extends 'homePage/base.html' %}

{% block content %}
<h1>Evaluate an Abstract</h1>
<p>Copy and Paste an abstract into the text box below</p>
<form method = "post" action = "">{% csrf_token %}
<textarea id="abstract-text" name="abstract" rows = "15", cols = "50" ></textarea><br>
<button type="submit" id = "submit-abstract">Submit</button>
</form>
<div id = "abstract-reportable-evaluation"></div>



{% load staticfiles %}
<script type="text/javascript" src= "{% static '/js/jquery.js' %}"></script>
<script type="text/javascript" src = "{% static 'js/submitEvaluate.js' %}"></script>

{% endblock %}


